<h3>Введите данные о произведенном роботе в форму ниже и нажмите "Отправить" для внесения информации в систему.</h3>
<h3>Если Вы не располагаете информацией о роботе, нажмите "Сгенерировать информацию о случайном роботе" для генерации информации о случайном произведенном роботе, не внесенном в систему.</h3>

<form action="{% url 'robots' %}" method="POST">
    {% csrf_token %}
    <input type="submit" name="delete" value="Удалить все данные о роботах в системе">
</form>

<form action="{% url 'robots' %}" method="POST">
    {% csrf_token %}
    <input type="submit" name="generate_info" value="Сгенерировать информацию о случайном роботе">
</form>


{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<form action="{% url 'robots' %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="upload_info" value="Внести данные">
</form>

<form action="{% url 'report' %}" method="POST">
    {% csrf_token %}
    <input type="submit" name="make_report" value="Получить отчет о созданных роботах за неделю">
</form>